<!DOCTYPE html>
<html>
<head>
  <%= render_partial "shared/head" %>
</head>
<body>
  <%= render_partial "shared/_header", page: @genre.name %>

  <main class="genre">
    <h1>Genre: <%= @genre.name.capitalize %></h1>

    <div class="stats">
      <div class="stat-box">
        <div class="stat">
          <%= @genre.count%>
        </div>
        <div class="stat-caption">
          total read
        </div>
      </div>

      <div class="stat-box">
        <div class="stat">
          <%= @genre.percentage %>%
        </div>
        <div class="stat-caption">
          of all reading
        </div>
      </div>
    </div>

    <% if @genre.type_percentages.length > 1 %>
      <fieldset>
        <legend> Types </legend>
        <table class="invisible" >
        <% @genre.type_percentages.each do |type, percent| %>
          <tr>
            <td style="text-align: right;"><%= percent %>%</td>
            <td><%= pluralize(type) %></td>
          </tr>
        <% end %>
        </table>
      </fieldset>
    <% end %>

    <% @genre.entries_by_rating.each do |entry| %>
      <%= render_partial "text", { entry: entry } %>
    <% end %>
  </main>
</body>
</html>

