<!DOCTYPE html>
<html>
<head>
  <%= render_partial "shared/head" %>
</head>
<body>
  <main class="page">
    <%= render_partial "shared/_header", page: @genre.name %>

    <h1>Genre: <%= @genre.name.capitalize %></h1>

    <div class="stats">
      <div class="stat-box">
        <div class="stat">
          <%= @genre.count%>
        </div>
        <div class="stat-caption">
          total read
        </div>
      </div>

      <div class="stat-box">
        <div class="stat">
          <%= @genre.percentage %>%
        </div>
        <div class="stat-caption">
          of all reading
        </div>
      </div>
    </div>

    <%= render_partial "shared/_type_percentages", type_percentages: @genre.type_percentages, type_counts: @genre.type_counts %>

    <br />
    <br />

    <% @genre.entries_by_rating.each do |entry| %>
      <%= render_partial "text", { entry: entry } %>
    <% end %>
  </main>
</body>
</html>

