<!DOCTYPE html>
<html>
<head>
  <%= render_partial "shared/_head" %>
</head>
<body>
  <%= render_partial "shared/_header", page: "index" %>
  <main>
    <h1>Reading Log</h1>

    <p>
      <strong><%= @index.count %></strong>
      texts read
    </p>

    <hr />

    <%= render_partial "shared/_type_percentages", type_percentages: @index.type_percentages, type_counts: @index.type_counts %>

    <hr />
    
    <strong>Months:</strong>
    <ul>
    <% (Date.parse("2020-12-01")..Date.today).map{ |d| d.strftime("%Y-%m") }.uniq.reverse.each do |month| %>
      <li><a href="./<%= month %>.html"><%= month %></a></li>
    <% end %>
    </ul>

    <hr />

    <blockquote>
      <p>
        I once had a bathroom full of bookshelves, which made it impossible to
        take a shower, and meant running a bath with the window open because of
        the condensation; and I also kept them in my kitchen, which made it out 
        of the question to use certain strong-smelling foodstuffs.
      </p>
    </blockquote>
    <p>&mdash; Jacques Bonnet</p>

    <hr />

    <strong>Guide to Ratings</strong>

    <br />
    <br />

    <p>
      <mark data-rating="<%= rating_group(99) %>">99</mark>
      &nbsp;
      <strong>Top Shelf Rating (98-100)</strong>
    </p>
    <p>
      This is as good as it gets. Books with this badge have to earn it! This one is worth a reread. 
    </p>

    <br />

    <p>
      <mark data-rating="<%= rating_group(92) %>">92</mark>
      &nbsp;
      <strong>High Shelf (90-97)</strong>
    </p>
    <p>
      Think of this as your personal stamp of approval. You shouldn't think twice about recommending a document with this badge to a family member or a friend.
    </p>

    <br />

    <p>
      <mark data-rating="<%= rating_group(87) %>">87</mark>
      &nbsp;
      <strong>Mid Shelf (80-89)</strong>
    </p>
    <p>
      This was worth your time to read and may have been very strong in one aspect or another, but you probably won't be grabbing it off the shelf except to reference a passage.
    </p>

    <br />

    <p>
      <mark data-rating="<%= rating_group(75) %>">75</mark>
      &nbsp;
      <strong>Low Shelf (70-79)</strong>
    </p>
    <p>
      This isn't a write off. Maybe it had a compelling chapter or a great side-character. But you might not choose to read it if you had to do it all over again.
    </p>

    <br />

    <p>
      <mark data-rating="<%= rating_group(43) %>">43</mark>
      &nbsp;
      <strong>Bottom Shelf (0-69)</strong>
    </p>
    <p>
      Let's never talk about this book again. This badge is applied only as a warning so you don't recommend it. 
    </p>
  </main>
</body>
</html>

