<!DOCTYPE html>
<html>
<head>
  <%= render_partial "shared/_head" %>
</head>
<body>
  <%= render_partial "shared/_header", page: "index" %>
  <main>
    <h1>Reading Log</h1>

    <p>
      <strong><%= @index.count %></strong>
      texts read
    </p>

    <hr />

    <%= render_partial "shared/_type_percentages", type_percentages: @index.type_percentages, type_counts: @index.type_counts %>

    <hr />
    
    <strong>Months:</strong>
    <ul>
    <% (Date.parse("2020-12-01")..Date.today).map{ |d| d.strftime("%Y-%m") }.uniq.reverse.each do |month| %>
      <li><a href="./<%= month %>.html"><%= month %></a></li>
    <% end %>
    </ul>

    <hr />

    <blockquote>
      <p>
        I once had a bathroom full of bookshelves, which made it impossible to
        take a shower, and meant running a bath with the window open because of
        the condensation; and I also kept them in my kitchen, which made it out 
        of the question to use certain strong-smelling foodstuffs.
      </p>
    </blockquote>
    <p>&mdash; Jacques Bonnet</p>
  </main>
</body>
</html>

