<!DOCTYPE html>
<html>
<head>
  <%= render_partial "shared/_head" %>
</head>
<body>
  <%= render_partial "shared/_header", page: "list" %>

  <article>
    <h1>All</h1>

    <table>
      <tr>
        <th align="right">#</th>
        <th align="center">read</th>
        <th align="center">rating</th>
        <th>title</th>
        <th>author</th>
        <th>shelf</th>
      </tr>
    <% length = @list.entries.length %>
    <% @list.entries.each_with_index do |row, index| %>
      <tr>
        <td align="right"><%= length - index %></td>
        <td align="center"><%= row["read"] %></td>
        <td align="center">
          <mark data-rating="<%= rating_group(row['rating']) %>">
            <%= row["rating"] || "n/a" %>
          </mark>    
        </td>
        <td><%= row["title"] %></td>
        <td><%= row["author"] %></td>
        <td><%= row["shelf"] %></td>
      </tr>
    <% end %>
    </table>
  </article>
</body>
</html>
