<!DOCTYPE html>
<html>
<head>
  <%= render_partial "shared/_head" %>
</head>
<body>
  <%= render_partial "shared/_header", page: "list" %>

  <article>
    <h1>All</h1>

    <table>
      <tr>
        <th align="right">#</th>
        <th>read</th>
        <th>rating</th>
        <th>title</th>
        <th>author</th>
        <th>shelf</th>
      </tr>
    <% length = @list.entries.length %>
    <% @list.entries.each_with_index do |row, index| %>
      <tr>
        <td align="right"><%= length - index %></td>
        <td><%= row["read"] %></td>
        <td align="right">
          <% if (row["rating"]&.to_i || 0) > 95 %>
            <strong><mark><%= row["rating"] %></mark></strong>
          <% elsif (row["rating"]&.to_i || 0) > 90 %>
            <strong><%= row["rating"] %></strong>
          <% else row["rating"] %>
            <%= row["rating"] || "--" %>
          <% end %>
        </td>
        <td><%= row["title"] %></td>
        <td><%= row["author"] %></td>
        <td><%= row["shelf"] %></td>
      </tr>
    <% end %>
    </table>
  </article>
</body>
</html>
