<!DOCTYPE html>
<html>
<head>
  <%= render_partial "shared/_head" %>
</head>
<body>
  <%= render_partial "shared/_header", page: @shelf.name %>

  <main>
    <h1>Shelf: <%= @shelf.name %></h1>

    <p>
      <strong><%= @shelf.count %></strong>
      total read
    </p>

    <p>
      <strong><%= @shelf.percentage %>%</strong>
      of all reading
    </p>

    <hr />

    <%= render_partial "shared/_type_percentages", type_percentages: @shelf.type_percentages, type_counts: @shelf.type_counts %>

    <hr />

    <% @shelf.entries_by_rating.each do |entry| %>
      <%= render_partial "shared/_text", { entry: entry } %>
    <% end %>
  </main>
</body>
</html>

