<!DOCTYPE html>
<html>
<head>
  <%= render_partial "shared/head" %>
</head>
<body>
  <%= render_partial "shared/_header", page: @timespan.name %>

  <main class="page">
    <h1><%= @timespan.name.capitalize %> in Review</h1>

    <div class="stats">
      <div class="stat-box">
        <div class="stat">
          <%= @timespan.count%>
        </div>
        <div class="stat-caption">
          total read
        </div>
      </div>

      <div class="stat-box">
        <div class="stat">
          <%= @timespan.hundos %>
        </div>
        <div class="stat-caption">
          rated a perfect 100
        </div>
      </div>
    </div>

    <%= render_partial "shared/_type_percentages", type_percentages: @timespan.type_percentages, type_counts: @timespan.type_counts %>

    <% @timespan.entries_by_rating.each do |entry| %>
      <%= render_partial "text", { entry: entry } %>
    <% end %>
  </main>
</body>
</html>

