<!DOCTYPE html>
<html>
<head>
  <%= render_partial "shared/head" %>
</head>
<body>
  <%= render_partial "shared/_header", page: @year.name %>

  <main class="page">
    <h1><%= @year.name.capitalize %> Year in Review</h1>

    <div class="stats">
      <div class="stat-box">
        <div class="stat">
          <%= @year.count%>
        </div>
        <div class="stat-caption">
          total read
        </div>
      </div>

      <div class="stat-box">
        <div class="stat">
          <%= @year.hundos %>
        </div>
        <div class="stat-caption">
          rated a perfect 100
        </div>
      </div>
    </div>

    <%= render_partial "shared/_type_percentages", type_percentages: @year.type_percentages, type_counts: @year.type_counts %>

    <% @year.entries_by_rating.each do |entry| %>
      <%= render_partial "text", { entry: entry } %>
    <% end %>
  </main>
</body>
</html>

